@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #0f172a, #1e293b);
  color: #f8fafc;
  overflow-x: hidden;
}
